server:
  port: 8086
spring:
  datasource:
    url: jdbc:mysql://localhost:8889/ticketUserService?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update