server:
  port: 8082
spring:
  data:
    mongodb:
      uri: mongodb+srv://usnow02:miminatekoko@cluster0.dwpolo1.mongodb.net/users?retryWrites=true&w=majority
  security:
    basic:
      enabled: false